<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Bid</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/bidList/validate}" th:object="${bidListDto}" method="post" class="form-horizontal" style="width: 100%">
			<div class="form-group">
				<label for="account">Account:</label><br>
				<input class="form-control" type="text" th:field="*{account}" id="account">
				<div class="alert alert-danger" th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></div><br>
			</div>

			<div class="form-group">
				<label for="type">Type:</label><br>
				<input class="form-control" type="text" th:field="*{type}" id="type" >
				<div class="alert alert-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div><br>
			</div>

			<div class="form-group">
				<label for="bidQuantity">Quantity:</label><br>
				<input class="form-control" type="number" step="any" th:field="*{bidQuantity}" id="bidQuantity">
				<div class="alert alert-danger" th:if="${#fields.hasErrors('bidQuantity')}" th:errors="*{bidQuantity}"></div><br>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-sm btn-success">Submit</button>
				<button type="cancel" onclick="window.location='/bidList/list';return false;" class="btn btn-sm btn-success">Cancel</button>
			</div>
		</form>
	</div>

</div>
</body>
</html>