<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Update Bid</h2>
	</div>
	<div class="row">
		<form action="#" th:action="@{/bidList/update/{id}(id=${bidList.bidListId})}" th:object="${bidListDto}" method="post" class="form-horizontal" style="width: 100%">
			<div class="form-group">
				<label for="account">Account:</label><br>
				<input class="form-control" type="text" id="account" th:field="*{account}">
				<div class="alert alert-warning" th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></div><br>
			</div>

			<div class="form-group">
				<label for="type">Type:</label><br>
				<input class="form-control" type="text" id="type" th:field="*{type}">
				<div class="alert alert-warning" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div><br>
			</div>

			<div class="form-group">
				<label for="bidQuantity">Quantity:</label><br>
				<input class="form-control" type="number" step="any" id="bidQuantity" th:field="*{bidQuantity}">
				<div class="alert alert-warning" th:if="${#fields.hasErrors('bidQuantity')}" th:errors="*{bidQuantity}"></div><br>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-sm btn-success">Submit</button>
				<button type="submit" href="list.html" th:href="@{/bidList/list}" class="btn btn-sm btn-success">Cancel</button>
			</div>
		</form>
	</div>

</div>
</body>
</html>